sudo: false
language: node_js
node_js:
  - "6"
  - "5"
  - "4"
os:
  - linux
script:
  - npm test
  - echo 'testing global install without cache..' && export NGROK_IGNORE_CACHE=true && npm i -g && ngrok -v
  - echo 'testing global install with cache..' && export NGROK_IGNORE_CACHE=false && npm i -g && ngrok -v